<div class="form-wrapper">
  <div class="form-container">
    <div class="form-header" style="text-align: center">
      <h1>Company Success</h1>
      <h2>Is there an observable trend of success?</h2>
    </div>
    <div class="divider"></div>
    <form class="form" [formGroup]="companySuccessForm">
      <div class="form-row">
        <div class="form-name-array" formArrayName="names">
          <ng-container *ngFor="let name of names.controls; index as i">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                [formControlName]="i"
                [matAutocomplete]="auto"
              />
              <!-- <mat-error *ngIf="companySuccessForm.get('name')?.invalid">Name is required</mat-error> -->
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option
                  *ngFor="let option of suggestions[i]"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              
            </mat-form-field>

          </ng-container>
          <button (click)="addCompany()">Add Company</button>
      </div>
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input
            [formGroup]="range"
            [required]="true"
            [rangePicker]="picker"
          >
            <input
              matStartDate
              required
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate required formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="startDateError">Invalid start date</mat-error>
          <mat-error *ngIf="endDateError">Invalid end date</mat-error>
          
        </mat-form-field>
        <div class="checkbox-group" style="margin-bottom: 5px">
          <mat-label>Metric</mat-label>
          <mat-radio-group
            [required]="true"
            formControlName="metric"
            class="radio-group"
          >
            <mat-radio-button [disableRipple]="true" value="roi"
              >Return on Investment</mat-radio-button
            >
            <mat-radio-button [disableRipple]="true" value="ratings"
              >Movie Ratings</mat-radio-button
            >
            <mat-radio-button [disableRipple]="true" value="budget"
              >Movie Budgets</mat-radio-button
            >
            <mat-radio-button [disableRipple]="true" value="revenue"
              >Movie Revenue</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
      <div class="form-row" style="flex-direction: row-reverse">
        <button [ngClass]="{'btn--disabled': companySuccessForm.invalid || range.invalid}" [disabled]="companySuccessForm.invalid || range.invalid" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>
