<div class="page-container">
  <div class="page-header">
    <header>
      <h1>Films</h1>
    </header>
  </div>
  <div class="divider"></div>
  <div class="page-content">
    <div class="query-links">
      <a
        routerLinkActive="queryIsActive"
        [routerLink]="['/films']"
        [queryParams]="{ query: 'seasons' }"
        >Seasonal</a
      >
      <a
        routerLinkActive="queryIsActive"
        [routerLink]="['/films']"
        [queryParams]="{ query: 'budgets' }"
        >Geographical</a
      >
      <a
        routerLinkActive="queryIsActive"
        [routerLink]="['/films']"
        [queryParams]="{ query: 'ratings' }"
        >Genre</a
      >
      <a
        routerLinkActive="queryIsActive"
        [routerLink]="['/films']"
        [queryParams]="{ query: 'budgetratings' }"
        >Budgets to Ratings Correlation</a
      >
    </div>
    <div class="page-form" [ngSwitch]="activeQuery | async">
      <app-film-seasons-form
        *ngSwitchCase="'seasons'"
        (onSubmitEvent)="handleSuccessFormSubmit($event)"
      ></app-film-seasons-form>
      <app-film-budgets-form
        *ngSwitchCase="'budgets'"
        (onSubmitEvent)="handleBudgetFormSubmit($event)"
      ></app-film-budgets-form>
      <app-film-ratings-form
        *ngSwitchCase="'ratings'"
        (onSubmitEvent)="handleRatingsFormSubmit($event)"
      ></app-film-ratings-form>
      <app-film-buget-ratings-form
        *ngSwitchCase="'budgetratings'"
        (onSubmitEvent)="handleBudgetRatingsFormSubmit($event)"
      ></app-film-buget-ratings-form>
      <div *ngSwitchDefault>
        <div class="info-wrapper font-regular font-size-medium">
          <div class="info-paragraph">You are currently viewing the <b><u>Films tab/section</u></b>.  There are four types of queries 
            within this section.  Please click on one the selection to the left.  The general question sought for each
            query is presented below as a function of time.
          </div>
          <div class="info-paragraph">
            <b>Seasonal:</b>  What impact does the season the movie was released have on its success?
          </div>
          <div class="info-paragraph">
            <b>Geographical:</b>  How does the country(s) where a movie was made impact success?
          </div>
          <div class="info-paragraph">
            <b>Genre:</b>  How does a genre perform and how does that performance compare to other genres?
          </div>
          <div class="info-paragraph">
            <b>Budget to Ratings Correlation:</b>  Is budget a good indicator of rating or vice versa?
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="results">
    <mat-progress-bar
      *ngIf="fetching | async"
      mode="indeterminate"
    ></mat-progress-bar>
    <div *ngIf="searched">
      <ng-container *ngIf="results.length == 0 && !(fetching | async)">
        <div class="results-header">
          <header style="text-align: center">
            <h1>No Results Found</h1>
          </header>
        </div>
      </ng-container>
      <ng-container *ngIf="results.length > 0 && !(fetching | async)">
        <div class="results-header">
          <header style="text-align: center">
            <h1>Results</h1>
          </header>
        </div>
        <div class="divider"></div>
        <div [ngSwitch]="activeQuery | async">
          <app-film-seasons-results
            *ngSwitchCase="'seasons'"
            [data]="$any(results)"
            [metricToDisplay]="seasonsMetricToDisplay"
          ></app-film-seasons-results>
          <app-film-budgets-results
            *ngSwitchCase="'budgets'"
            [data]="$any(results)"
            [budgetCompareAverage]="budgetCompareAverage"
          ></app-film-budgets-results>
          <app-film-ratings-results
            *ngSwitchCase="'ratings'"
            [data]="$any(results)"
          ></app-film-ratings-results>
          <app-film-buget-ratings-results
            *ngSwitchCase="'budgetratings'"
            [data]="$any(results)"
          ></app-film-buget-ratings-results>
        </div>
      </ng-container>
    </div>
  </div>
</div>
