<div class="view-container">
  <div class="app-container">
    <nav class="nav-bar">
      <a
        routerLinkActive="routeIsActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/']"
        >HOME</a
      >
      <a routerLinkActive="routeIsActive" [routerLink]="['/actors']">ACTORS</a>
      <a routerLinkActive="routeIsActive" [routerLink]="['/films']">FILMS</a>
      <a routerLinkActive="routeIsActive" [routerLink]="['/companies']">COMPANIES</a>
      <button style="margin-left: auto;" (click)="displayStatistics()"><mat-icon aria-hidden="false" aria-label="Example home icon">info_outline</mat-icon></button>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
