<div class="page-container">
  <div class="page-header">
    <header>
      <h1>Companies</h1>
    </header>
  </div>
  <div class="divider"></div>
  <div class="page-content">
    <div class="query-links">
      <a
        routerLinkActive="queryIsActive"
        [routerLink]="['/companies']"
        [queryParams]="{ query: 'success' }"
        >Company Success</a
      >
    </div>
    <div class="page-form" [ngSwitch]="activeQuery | async">
      <app-company-success-form
        *ngSwitchCase="'success'"
        (onSubmitEvent)="handleSuccessFormSubmit($event)"
      ></app-company-success-form>
      <div *ngSwitchDefault>
        <div class="info-wrapper font-regular font-size-medium">
          <div class="info-paragraph">This is the <b><u>Companies section/tab</u></b>.  Production companies invest massive capital into
            the movies they produce.  Finding a historical trend from a particular company, or combination of companies, could
            be useful in choosing your next movie to watch or company to invest in. </div>
          <div class="info-paragraph">
            Click the Company Success option to the left to review a date range of the user's choice with various parameters 
            and company selections available.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="results">
    <mat-progress-bar
      *ngIf="fetching | async"
      mode="indeterminate"
    ></mat-progress-bar>
    <div *ngIf="searched">
      <ng-container *ngIf="companySuccessData.length == 0 && !(fetching | async)">
        <div class="results-header">
          <header style="text-align: center">
            <h1>No Results Found</h1>
          </header>
        </div>
      </ng-container>
      <ng-container *ngIf="companySuccessData.length > 0 && !(fetching | async)">
        <div class="results-header">
          <header style="text-align: center">
            <h1>Results</h1>
          </header>
        </div>
        <div class="divider"></div>
        <div [ngSwitch]="activeQuery | async">
          <app-company-success-results
            [metricToDisplay]="metricToDisplay"
            [data]="companySuccessData"
            *ngSwitchCase="'success'"
          ></app-company-success-results>
        </div>
      </ng-container>
    </div>
  </div>
</div>
