<div class="home-page">
  <div class="home-content">
    <div class="font-size-xlarge font-bold" style="margin-bottom: 30px;">Movie Insights</div>
    <div class="info-wrapper font-regular font-size-medium">
        <div class="info-paragraph">Welcome to <b>Movie Insights!</b> Movie Insights, provides historical analyses of movie production
          factors and their correlations with trends in movie performance. Various gauges of performance are based on monetary 
          and/or ratings success (or significant lack thereof for inquiries towards which factors perform poorly).  It is the 
          developers' hope that these insights will provide meaningful guidance in the user's next movie activity - whether an investor 
          looking for their next production, or a movie acifianados next great viewing.  Enjoy!</div>
          <div class="info-paragraph">The developers have built this application with <b><i>well over</i></b> 250,000 unique data points as 
          the underlying database.  Well-known sources IMDb.com and Kaggle.com are the basis of this data with the various tools implemented
          by the developers via complex SQL queries. </div>
        <div class="info-paragraph">Historical performances are computed – based the aforementioned metrics – for actors, countries, genres,
          production companies.  All of these results are plotted over a user's selected time range with the hopes that trends might be
          recognized to be used towards a more informed future movie choice. </div>
    </div>
    <div class="font-size-large font-bold" style="margin-bottom: 30px;">"What's the <u>second</u> movie about a database engineer called?</div>    
    <div class="font-size-large font-bold" style="margin-bottom: 30px;">... The SQL" - author unknown </div>
  </div>
  <div class="home-splash"></div>
</div>
