<div class="form-wrapper">
  <div class="form-container">
    <div class="form-header" style="text-align: center">
      <h1>Actor Success</h1>
      <h2>Is there an observable trend of success?</h2>
    </div>
    <div class="divider"></div>
    <form class="form" [formGroup]="actorSuccessForm">
      <div class="form-row">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            required
            matInput
            formControlName="name"
            [matAutocomplete]="auto"
          />
          <mat-error *ngIf="actorSuccessForm.get('name')?.invalid">Name is required</mat-error>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input
            formGroupName="range"
            [rangePicker]="picker"
          >
            <input
              matStartDate
              required
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate required formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="startDateError">Invalid start date</mat-error>
          <mat-error *ngIf="endDateError">Invalid end date</mat-error>
          
        </mat-form-field>
        <div class="checkbox-group" style="margin-bottom: 5px;">
          <mat-label>Metric</mat-label>
          <mat-checkbox disableRipple formControlName="dollars" class="example-margin">Return on Investment</mat-checkbox>
          <mat-checkbox disableRipple formControlName="ratings" class="example-margin">Movie Ratings</mat-checkbox>
          <mat-error *ngIf="metricError">Metric Required</mat-error>
        </div>
      </div>
      <div class="form-row" style="flex-direction: row-reverse">
        <button [ngClass]="{'btn--disabled': actorSuccessForm.invalid}" [disabled]="actorSuccessForm.invalid" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>
