<div class="form-wrapper">
  <div class="form-container">
    <div class="form-header" style="text-align: center">
      <h1>Successful Seasons</h1>
      <h2>What are the most and least successful seasons for movies?</h2>
    </div>
    <div class="divider"></div>
    <form class="form" [formGroup]="seasonSuccessForm">
      <div class="form-row">
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input formGroupName="range" [rangePicker]="picker">
            <input
              matStartDate
              required
              formControlName="start"
              placeholder="Start date"
            />
            <input
              matEndDate
              required
              formControlName="end"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="startDateError">Invalid start date</mat-error>
          <mat-error *ngIf="endDateError">Invalid end date</mat-error>
        </mat-form-field>
        <div class="checkbox-group" style="margin-bottom: 5px;">
          <mat-label>Metric</mat-label>
          <mat-checkbox disableRipple formControlName="roi" class="example-margin">Return on Investment</mat-checkbox>
          <mat-checkbox disableRipple formControlName="ratings" class="example-margin">Movie Ratings</mat-checkbox>
          <mat-error *ngIf="metricError">Metric Required</mat-error>
        </div>
        <mat-radio-group [required]="true" formControlName="success"
        class="radio-group" style="margin-top: 20px">
          <mat-radio-button [disableRipple]="true" value="most">Most Successful</mat-radio-button>
          <mat-radio-button [disableRipple]="true" value="least">Least Successful</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form-row" style="flex-direction: row-reverse">
        <button [ngClass]="{'btn--disabled': seasonSuccessForm.invalid}" [disabled]="seasonSuccessForm.invalid" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>
