<div class="form-wrapper">
  <div class="form-container">
    <div class="form-header" style="text-align: center">
      <h1>Budgets</h1>
      <h2>Budget expenditures for movies over time</h2>
    </div>
    <div class="divider"></div>
    <form class="form" [formGroup]="budgetForm">
        <div class="form-row">
          <div class="yearInputs">
            <mat-form-field>
              <mat-label>Start Year</mat-label>
              <input
                type="number"
                required
                [min]="1850"
                [max]="2021"
                [step]="1"
                matInput
                formControlName="startYear"
              />
              <mat-error *ngIf="startYearError">Year must be between 1850-2021</mat-error>
              <mat-error *ngIf="yearsError">Start year must be before end year</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>End Year</mat-label>
              <input
                type="number"
                required
                [min]="1850"
                [max]="2021"
                [step]="1"
                matInput
                formControlName="endYear"
              />
              <mat-error *ngIf="endYearError">Year must be between 1850-2021</mat-error>
              <mat-error *ngIf="yearsError">End year must be after start year</mat-error>
            </mat-form-field>
            
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Country Segmentation</mat-label>
            <mat-select [disableRipple]="true" [required]="true" formControlName="countries" multiple>
              <mat-option *ngFor="let country of (countries | async)" [value]="country.code">{{country.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="checkbox-group" style="margin-top: 20px">
            <mat-checkbox disableRipple formControlName="compare" class="example-margin">Compare Average Movie Cost</mat-checkbox>
          </div>
        </div>
        <div class="form-row" style="flex-direction: row-reverse;">
            <button [ngClass]="{'btn--disabled': budgetForm.invalid}" [disabled]="budgetForm.invalid" (click)="onSubmit()">Submit</button>
        </div>
    </form>
  </div>
</div>
