<div class="form-wrapper">
  <div class="form-container">
    <div class="form-header" style="text-align: center">
      <h1>Budgets to Ratings Correlation</h1>
      <h2>Average budget/rating</h2>
    </div>
    <div class="divider"></div>
    <form class="form" [formGroup]="budgetRatingsForm">
      <div class="form-row">
        <div class="yearInputs">
          <mat-form-field>
            <mat-label>Start Year</mat-label>
            <input
              type="number"
              required
              [min]="1850"
              [max]="2021"
              [step]="1"
              matInput
              formControlName="startYear"
            />
            <mat-error *ngIf="startYearError">Year must be between 1850-2021</mat-error>
            <mat-error *ngIf="yearsError">Start year must be before end year</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>End Year</mat-label>
            <input
              type="number"
              required
              [min]="1850"
              [max]="2021"
              [step]="1"
              matInput
              formControlName="endYear"
            />
            <mat-error *ngIf="endYearError">Year must be between 1850-2021</mat-error>
            <mat-error *ngIf="yearsError">End year must be after start year</mat-error>
          </mat-form-field>
          
        </div>
        <div class="selection-list-wrapper">
          <mat-label>Ratings</mat-label>
        <mat-selection-list [required]="true" [disableRipple]="true" class="selection-list" formControlName="ratings">
          <mat-list-option value="1">1</mat-list-option>
          <mat-list-option value="2">2</mat-list-option>
          <mat-list-option value="3">3</mat-list-option>
          <mat-list-option value="4">4</mat-list-option>
          <mat-list-option value="5">5</mat-list-option>
        </mat-selection-list>
      </div>
      </div>
      <div class="form-row" style="flex-direction: row-reverse;">
          <button [ngClass]="{'btn--disabled': budgetRatingsForm.invalid}" [disabled]="budgetRatingsForm.invalid" (click)="onSubmit()">Submit</button>
      </div>
  </form>
  </div>
</div>
