<div class="form-wrapper">
  <div class="form-container">
    <div class="form-header" style="text-align: center">
      <h1>Seasonal</h1>
      <h2>What are the most and least successful seasons for movies?</h2>
    </div>
    <div class="divider"></div>
    <form class="form" [formGroup]="seasonSuccessForm">
      <div class="form-row">
        <div class="yearInputs">
          <mat-form-field>
            <mat-label>Start Year</mat-label>
            <input
              type="number"
              required
              [min]="1850"
              [max]="2021"
              [step]="1"
              matInput
              formControlName="startYear"
            />
            <mat-error *ngIf="startYearError">Year must be between 1850-2021</mat-error>
            <mat-error *ngIf="yearsError">Start year must be before end year</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>End Year</mat-label>
            <input
              type="number"
              required
              [min]="1850"
              [max]="2021"
              [step]="1"
              matInput
              formControlName="endYear"
            />
            <mat-error *ngIf="endYearError">Year must be between 1850-2021</mat-error>
            <mat-error *ngIf="yearsError">End year must be after start year</mat-error>
          </mat-form-field>
          
        </div>

        <div class="checkbox-group" style="margin-bottom: 5px">
          <mat-label>Metric</mat-label>
          <mat-radio-group
            [required]="true"
            formControlName="metric"
            class="radio-group"
          >
            <mat-radio-button [disableRipple]="true" value="roi"
              >Return on Investment</mat-radio-button
            >
            <mat-radio-button [disableRipple]="true" value="ratings"
              >Movie Ratings</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <mat-radio-group
          [required]="true"
          formControlName="success"
          class="radio-group"
          style="margin-top: 20px"
        >
          <mat-radio-button [disableRipple]="true" value="top_roi"
            >Most Successful</mat-radio-button
          >
          <mat-radio-button [disableRipple]="true" value="bottom_roi"
            >Least Successful</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="form-row" style="flex-direction: row-reverse">
        <button
          [ngClass]="{ 'btn--disabled': seasonSuccessForm.invalid }"
          [disabled]="seasonSuccessForm.invalid"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
