<div class="form-wrapper">
  <div class="form-container">
    <div class="form-header" style="text-align: center">
      <h1>Ratings</h1>
      <h2>Average viewer rating by genre over time</h2>
    </div>
    <div class="divider"></div>
    <form class="form" [formGroup]="ratingsForm">
      <div class="form-row">
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input formGroupName="range" [rangePicker]="picker">
            <input
              matStartDate
              required
              formControlName="start"
              placeholder="Start date"
            />
            <input
              matEndDate
              required
              formControlName="end"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="startDateError">Invalid start date</mat-error>
          <mat-error *ngIf="endDateError">Invalid end date</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Genres</mat-label>
          <mat-select [disableRipple]="true" [required]="true" formControlName="genreIds" multiple>
            <mat-option *ngFor="let genre of (genres | async)" [value]="genre.id">{{genre.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row" style="flex-direction: row-reverse;">
          <button [ngClass]="{'btn--disabled': ratingsForm.invalid}" [disabled]="ratingsForm.invalid" (click)="onSubmit()">Submit</button>
      </div>
  </form>
  </div>
</div>
